<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Clear all inherited sources from the global NuGet.Config -->
    <clear />
    <!-- Add NuGet.org as the sole package source for this project -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
